.item-page {
    display: flex;
    width: 100%;
    height: 100vh;
}

.item-block {
    margin: auto;
    width: 700px;
    height: 450px;

}


.menu__item{
    position: relative;
}

.menu__Img{
    position: absolute;
    content: '';
    bottom: 20px;
    right: 20px;
    width: 200px;
}

.menu__category_Img{
    position: absolute;
    content: '';
    bottom: 20px;
    right: 20px;
    width: 75px;
    height: 75px;
    background-position: 50%;
    background-size: cover;
    background-repeat: no-repeat;
}